<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--the rules section of this config file tells Nlog what type of logs to actually log-->
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>

  <!--the targets section tells Nlog where to log the logs it gets based on the log type-->
  <targets>
    <target name="logfile" xsi:type="File" fileName="nlog-${shortdate}.log" />
  </targets>
  
</nlog>

<!-- Nlog (a microsoft library nuget package) is a popular logging extension that needs to have a config file so it knows what to do -->
<!--https://github.com/nlog/NLog/wiki/Configuration-file-->